@media (min-width: 600px) {
  .logo {
    display: block;
    width: 120px;
    border-radius: 6px;
    box-shadow: 0 4px 4px #0e0e0e;
  }
  header {
    flex-wrap: wrap;
  }
  .header__container {
    justify-content: space-between;
  }
  nav {
    display: block;
    width: 100%;
  }
  .burguer-menu {
    display: none;
  }
  .header__search {
    width: 60%;
    justify-content: space-between;
  }
  .listas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
  }
  li {
    list-style: none;
  }
  a {
    color: #e0e0e0;
    text-transform: uppercase;
    text-decoration: none;
  }
  .img-product{
    width: 48%;
  }

  /* Product */
  .opciones {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

    border: 2px solid $lineas;
    box-shadow: 0px 2px 4px #0e0e0e;

    border-radius: 5px;

    background-color: $fondo_obscuro;

    .ammount {
      margin-bottom: 1rem;
    }

    .categoria {
      display: flex;
      justify-content: space-around;
      border: 2px solid $lineas;
      box-shadow: 0px 2px 4px #0e0e0e;
      margin: 1rem;

      border-radius: 5px;

      background-color: $fondo_obscuro;

      .option-1 {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .option-2 {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .option-3 {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  .product{
    width: 25%;
    
  }
  
}

@media (min-width: 768px) {
  /* Product */

  .container {
    display: flex;

    .product-f {
      .images {
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 0.5rem;
        border: 3px solid $lineas;

        .img {
          transition: 0.4s;
        }
        .img:hover {
          transform: scale(1.2);
        }
      }
      .img-product {
        transition: 0.5s;
        object-fit: cover;
      }

      .img-product:hover {
        transform: scale(1.2);
      }
    }

    .container-dos {
      display: flex;
      flex-direction: column;
      margin-top: 3rem;
      padding-right: 1rem;
      .ammount {
        margin-top: 0rem;
      }
      .opciones {
        margin: 0;
      }
      .description {
        margin: 0;
        margin-top: 1rem;
      }
    }
  }
  .img-product{
    width: 23%;
  }
  .col{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .product{
    width: 23%;
  }
  .product:hover .info-product{
    display: block;
  }
}

@media (min-width: 900px) {
  nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
  }
  .input__search {
    width: 95%;
  }
  li {
    margin-right: 1rem;
  }
  .scroller {
    height: 300px;
    .scroller-item {
      width: 180px;
      height: 180px;
    }
  }
  .col{
    flex: 0 0 50%;
    max-width: 50%;
  }
  
}

@media (min-width: 1280px) {
  /* Pendiente en product */
}
