.cart__container {
  color: $blanco;
  margin: 3rem auto;
  max-width: 1200px;
  box-shadow: 0 0 6px $lineas;
  .cart__article {
    .article__container {
      .cart__img {
        width: 80px;
        box-shadow: 0 0 6px $lineas;
      }
      .cart__info {
        margin: 6px;

        .cantidad {
          box-shadow: 0 0 4px $lineas;

          width: 6rem;
          padding: 4px;
          background-color: $bg_darkblue;
          .cantidad__button {
            background: none;
            border: none;
            color: #fff;
          }
          .cantidad__number {
            background-color: #fff;
            width: 30px;

            color: black;

            padding: 4px;
            margin: 0 1rem;
          }
        }
      }
    }
    .cart__options {
      box-shadow: 0 0 2px $lineas;
      padding: 6px;

      .option__list {
        gap: 20px;

        .menu__dots {
          flex-grow: 1;
        }
      }
    }
  }
  .total__container {
    box-shadow: 0 0 2px $lineas;
  }
}

@media (min-width: 600px) {
  .cart__p {
    margin-bottom: 0;
  }
  .cart__info {
    flex-grow: 0.9;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu__dots {
    display: none !important;
  }
  .none {
    display: block;
  }
  .total h6 {
    flex-grow: 1;
    display: flex;
    justify-content: end;
  }
}
