.footer{
   
}
.img-footer1{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 20px;
}
.footer .img-footer{
    width: 100%;
    margin: auto;
    align-items: center ;
    border: 3px solid $lineas;
    background-color: $fondo_obscuro;
}
.info-footer{
    width: 90%;
    margin: 0 auto;
    padding: 0 15px;

  
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col{
    flex: 0 0 33%;
    max-width: 33%;
    text-align: center;


}