.form {
  min-height: 100vh;
  align-items: center;

  .form__container {
    max-width: 28rem;
    border: 2px solid $lineas;
    background-color: $fondo_obscuro;
    box-shadow: 0px 2px 4px $negro;
    border-radius: 6px;
    text-align: center;
    color: $blanco;
    .form__title {
      color: $titulos;
      padding: 1rem;
      font-size: 2em;
    }

    .form__display {
      align-items: center;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1.5rem;

      input {
        width: 90%;
        padding: 10px 26px;
        border: none;
        border-radius: 4px;
        margin-bottom: 0.5rem;
      }
      .terms {
        align-items: center;
        margin: 1rem 0;
        #terms {
          width: 10%;
        }
        label {
          font-size: 0.8em;
          margin-bottom: 0.5rem;
          a {
            color: $titulos;
          }
        }
      }
      .form__error {
        color: #ff0000;
        text-decoration: underline;
        display: block; /* esto va con un display none y aparecería cuando hay un error en el form */
      }
      .show_password {
        padding: 0.5rem 0;
        justify-content: flex-end;

        p {
          font-size: 0.6em;
          margin-left: 0.5rem;
        }
      }
      .form__a {
        font-size: 0.8em;
        margin-bottom: 1.5rem;
        color: $titulos;
      }
      strong {
        font-size: 1em;
        margin-top: 2rem;
        font-weight: 600;
        a {
          font-weight: 500;
          color: $titulos;
        }
      }
      .form__or {
        border-bottom: 2px solid $lineas;
        width: 96%;
        margin: 1.5rem 0;
      }
      .button {
        background-color: $lineas;
        border-radius: 6px;
        border: none;
        box-shadow: 0 2px 4px $negro;
        padding: 10px 26px;
        cursor: pointer;
        .form__button {
          background-color: transparent;
          border: none;
          font-size: 1em;
          cursor: pointer;
          span {
            color: $blanco;
            font-weight: 600;
          }
        }
        &:hover {
          background-color: $fondo_claro;
          box-shadow: 0 0 6px 6px $lineas;
          transform: scale(0.9);
          transition: all 400ms;
        }
      }
      .form__with {
        background: $blanco;
      }
    }
  }
}
