.color {
  color: #e0e0e0;
}

.product-f {
  border: 1px solid $lineas;
  box-shadow: 0 0 6px $lineas;

  border-radius: 5px;

  background-color: #0a141d;

  h2 {
    color: #e0e0e0;
  }

  .img-s {
    overflow: hidden;

    .arrow-size {
      font-size: 1.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}

.stars {
  color: $lineas;
}

.ammount {
  border: 1px solid $lineas;
  box-shadow: 0 0 6px $lineas;
  border-radius: 5px;

  background-color: #0a141d;

  .ammount-f {
    border: 1px solid $lineas;
    box-shadow: 0 0 6px $lineas;
    min-width: 5rem;
    max-width: 100%;

    border-radius: 15px;

    background-color: $lineas;
  }
}

.buttom {
  width: 8rem;
  height: 2rem;

  background-color: $lineas;

  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;

  button {
    background: none;
    border: 0;
    color: inherit;

    span {
      font-size: 19px;
    }
  }
}

.description {
  border: 1px solid $lineas;
  box-shadow: 0 0 6px $lineas;

  border-radius: 5px;

  background-color: #0a141d;

  h2 {
    margin-left: 5px;
  }

  .text {
    margin-left: 5px;
    color: white;
  }
}

.color-label {
  color: white;
}

.size-label {
  font-size: 0.8rem;
}

.precio {
  border: 1px solid $lineas;
  box-shadow: 0 0 6px $lineas;

  border-radius: 5px;

  background-color: #0a141d;

  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
