.color {
  color: #e0e0e0;
}

.product-f {
  border: 1px solid $lineas;
  box-shadow: 0 0 6px $lineas;

  border-radius: 5px;

  background-color: #0a141d;

  h2 {
    color: #e0e0e0;
  }

  .img-s {
    overflow: hidden;

    .arrow-size {
      font-size: 1.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}

.stars {
  color: $lineas;
  font-size: 0.7rem;
}

.ammount {
  background-color: #0a141d;

  .select_product{
    border: 1px solid $lineas;
    box-shadow: 0 0 6px $lineas;
    background-color: #0d2033;
  }
}

.buttom {

  background-color: $lineas;
  border: 1px solid $lineas;
  box-shadow: 0 0 6px $lineas;

  color: white;
  font-size: 1rem;
}

.description {
  border: 1px solid $lineas;
  box-shadow: 0 0 6px $lineas;

  border-radius: 5px;

  background-color: #0a141d;

  h2 {
    margin-left: 5px;
  }

  /* .text {
    margin-left: 5px;
    color: white;
  } */
}

.color-label {
  color: white;
}

.size-label {
  font-size: 0.8rem;
}

.precio {
  border: 1px solid $lineas;
  box-shadow: 0 0 6px $lineas;

  border-radius: 5px;

  background-color: #0a141d;

  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  .medios-pago {
    color: rgb(28, 85, 189);
  }
}
