.main-product{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;

   
}
.section-product{
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    

    .title-product{
        width: 100%;
        font-size: 24px;

       
    }

}
.contain-product{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 50px;
    padding: 20px;
    border: 3px solid #9fedd9;
    background-color: #1973B8;;
    box-shadow: 0px 2px 10px #FED9C7;
    
}

.product{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 2px 10px $fondo_obscuro;
    

    .img-product{
        width: 100%;
        padding: 20px;

       
    }
    .info-product{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 8px;
        border-top: 1px solid $fondo_obscuro;

        
    }

    .nom-product{
        width: 100%;
        font-size: 16px;
        color: #026670;
        
    }
    .ofert-product{
        width: 100%;
        font-size: 16px;
        font-weight: bold;
        color: #fce181;
    }
    .precio-product{
        font-size: 20px;
        font-weight: bold;
        color: $titulos;
    }

}
