.selec{
    background-color: $fondo_obscuro;
}
.product{
    background: $fondo_obscuro;
    padding: 3rem;

    .img{
        width: 25px;
    }
}
.description {
    border: 3px solid $lineas;
    border-radius: 5px;
  
    background-color: $fondo_obscuro;
  
    h2 {
      color: $titulos;
      margin-left: 5px;
    }
  
    .text {
      margin-left: 5px;
    }
  }


