
.product{
    background: $fondo_obscuro;
    padding: 3rem;
   border: 4px solid $lineas;
  
    

    .img{
        width: 25px;
    }
}
.product-shadow{
    box-shadow: 0 4px 4px #0e0e0e;

}
.description {
    border: 3px solid $lineas;
    border-radius: 5px;
  
    background-color: $lineas;
    align-items: center;
  
    h2 {
      color: $titulos;
      margin-left: 5px;
      text-align: center;
    }
  
    .text {
      margin-left: 5px;
    }
}

.my-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}  
.truck-icon {
    color: $lineas;
    border:$lineas solid 1px;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 15px;
    top: -15px;
}
.relative {
    position: relative;
}
.color-white{
    color: $blanco;
}
.lg-w-25 {
    width: 48%;
  }

.justify{
    justify-content: space-around;
}