body {
  font-family: "Poppins", sans-serif;
}

@import "style_root.scss";
@import "header.scss";
@import "banner.scss";
@import "ofertas_stories.scss";
@import "login.scss";
@import "product.scss";
@import "seccion.scss";



.bg_animado {
  padding: 1rem;
  color: #fff;
  background: linear-gradient(45deg, #602dac, #3723b8, #2973da, #030724);
  background-size: 400% 400%;
  position: relative;
  animation: cambiar 10s ease-in-out infinite;
}

@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@import "@media.scss";

