.container-cart {
    width: 90%;
    margin: 3%  5%;
    background-color: #0f7d7e;
    border-radius: 5px;
    color: white;
}

.card-2 {
    width: 90%;
    margin: 3%  5%;
    background-color: #ffffff!important;
    color: black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
     
}

.card-body {
    width: 100%;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    background-color: white;
    border-collapse: collapse;
    box-sizing: border-box;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table td, .table th {
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
}



table th {
    font-size: .9rem;
    font-weight: 400;
}

.text-right {
    text-align: right!important;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.row {
    display: flex;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.w-100 {
    width: 100%!important;
}

.d-block {
    display: block!important;
}
.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.contenedor-envio-pago {
    width: 35%;
    margin-left: 10%;
}

.btn-cart {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.1s ease all;
    margin-left: 35%;
}

.btn-cart:hover, .boton-e:hover, .botones-mm:hover, .boton-vc:hover {
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
  }

.botones-mm {
    height: 20px;
    line-height: 20px;
    width: 20px;
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.1s ease all;
    margin-left: 10px;
    margin-right: 10px;
}

.contenedor-mm-cantidad  {
    display: flex;
    border: #000 solid 3px;
    padding-left: 33% !important;
}

.boton-e {
    height: 30px;
    line-height: 30px;
    width: 90px;
    background: #000;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.1s ease all;
    margin-left: 35%;
}

.boton-vc {
    height: 30px;
    line-height: 30px;
    width: 150px;
    background: #000;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.1s ease all;
}