.container-header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 90px;
  background: black;
  font-family: "Rubik", sans-serif;
}

.container-burger {
  display: none;
  cursor: pointer;
}

.container-logo {
  width: 10%;
  height: 90px;
  padding-top: 5px;
  margin-left: 30px;
}

.logo {
  width: 80px;
  height: 80px;
}

.menu-items {
  width: 50%;
  display: flex;
}

.menu-mobile {
  width: 100%;
  display: flex;
}

.container-buscador {
  width: 100%;
  position: relative;
}

.input-search {
  width: 80%;
  height: 50px;
  margin-left: 10%;
  background: #2b303b;
  border: none;
  font-size: 11pt;
  color: #63717f;
  padding-left: 45px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.icon {
  position: absolute;
  margin-left: 13%;
  z-index: 1;
  color: #4f5b66;
  line-height: 50px;
}

.input-search:hover,
.input-search:focus,
.input-search:active {
  outline: none;
  background: #ffffff;
}

.menu-left {
  width: 40%;
  display: flex;
}

.ingreso {
  height: 90px;
  line-height: 90px;
  width: 50%;
  text-align: center;
}

.ingreso:hover,
.registro:hover,
.container-carrito:hover,
.container-perfil:hover,
.administrador-menu:hover,
.cerrar-sesion:hover {
  background-color: #0c6061;
}

.registro {
  height: 90px;
  line-height: 90px;
  width: 50%;
  text-align: center;
}

.menu-a {
  color: white;
  text-decoration: none;
  line-height: 90px;
}

.container-carrito,
.container-perfil,
.administrador-menu,
.cerrar-sesion {
  width: 10%;
  height: 90px;
  text-align: center;
  color: white;
  transition: all 0.3s ease;
}

.carrito {
  width: 30px;
  height: 30px;
  color: white;
  margin-top: 30px;
}

.logo-perfil {
  width: 35px;
  height: 35px;
  color: white;
  margin-top: 26px;
}

.sesion-cerrar {
  width: 35px;
  height: 35px;
  color: white;
  margin-top: 26px;
}

@media (max-width: 481px) {
  .container-header {
    display: flex;
    width: 100%;
  }

  .container-burger {
    display: block;
    width: calc((100%) / 3);
    text-align: center;
  }

  .burger {
    width: 20px;
    height: 20px;
  }

  .menu-items {
    display: none;
    width: 100%;
    position: absolute;
    top: 120px;
    left: 0;
    background: #161b22;
    z-index: 100;
  }

  .menu-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .container-buscador {
    width: 100%;
  }

  .input-search {
    width: 80%;
    margin-bottom: 35px;
  }

  .menu-left {
    width: 100%;
    flex-direction: column;
  }

  .registro,
  .ingreso {
    width: 100%;
    text-align: start;
    padding-left: 10%;
  }

  .container-logo {
    width: calc((100%) / 3);
    text-align: center;
  }

  .container-carrito {
    width: calc((100%) / 3);
    text-align: center;
  }
}

@media (max-width: 769px) {
}

body.open .menu-items {
  display: flex;
}
