@import url("header.css");
@import url("footer.css");
@import url("form.css");
@import url("menu-admin.css");
@import url("cart.css");
@import url("product.css");

:root {
  --darkblue: #0c6061;
  --lightBlue: #0f7d7e;
  --white: #fffdd1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Ubuntu", sans-serif;
  background-color: #0c6061;
  color: #fffdd1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.box-shadow {
  box-shadow: 0 2px 4px #222;
}

.d-none {
  display: none;
}

.color {
  background-color: red;
}

.maxw {
  max-width: 100%;
}

.text-align-c {
  text-align: center;
}

.text-align-r {
  text-align: right;
}

.text-align-l {
  text-align: left;
}

.flex {
  display: flex;
}

.align-items-c {
  align-items: center;
}

.flex-direccion-c {
  flex-direction: column;
}

/* Margin */
.margin-1 {
  margin: 1rem;
}

.margin-b {
  margin-bottom: 0.5rem;
}

.margin-b-1 {
  margin-bottom: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.btn {
  margin-left: 20rem;
  margin-right: 20rem;
}

/* Padding */
.padding-1 {
  padding: 1rem;
}

.padding-b {
  padding-bottom: 1rem;
}

.list-none {
  list-style: none;
}

.justify-c {
  justify-content: space-between;
}

.justify-c-c {
  justify-content: center;
}

.justify-c-e {
  justify-content: space-evenly;
}

.gap {
  gap: 10px;
}

.bor-1 {
  border-radius: 4px;
}

.bor-10 {
  border-radius: 20px;
}

.card {
  background-color: #404467;
  flex-direction: column;
  text-align: center;
}

.w-22 {
  width: 22.5%;
}

.margin-t {
  margin-top: 2rem;
}

.category i {
  font-size: 2rem;
  margin: 1rem;
  color: white;
}

.category h5 {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: white;
}

.scroll {
  border-radius: 30px;
}

.image {
  border-radius: 10px;
}

.w-90 {
  width: 90%;
}

.f-size-1 {
  font-size: 1rem;
}

.images-product {
  background-color: #0c6061;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.category_container {
  display: flex;
  flex-wrap: wrap;
}

img:hover {
  filter: brightness(1.35);
}

.estilo-destacadas:hover {
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}

.item {
  width: 150px;
  height: 150px;
  margin: 10px;
  background-color: #ccc;
}

.color-label {
  color: #0000008b;
  line-height: 45px;
  font-size: 14px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-4 {
  width: 33.33333%;
  padding: 0 15px;
  box-sizing: border-box;
}

/*========== INDEX ===========*/

.container-section {
  background-color: #0f7d7e;
  width: 94%;
  margin: 3%;
}

.texto-h2 {
  font-size: 20px;
}

.texto-h2-color {
  color: white;
}

.container-juego {
  width: 98%;
  margin: 1%;
  text-align: center;
  position: relative;
}

.titulo-año {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fffdd1;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  font-size: 20px;
}

article i,
h5 {
  filter: drop-shadow(8px 8px 4px #222);
}

.formulario .avatar-file:hover {
  background-color: #0c6061;
  color: white;
}

.formulario button {
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
}

.formulario button:hover {
  background-color: black;
  color: white;
}

.precio-hover {
  color: #fffdd1;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 3%;
}

/*========== JUEGO DEL AÑO ===========*/

.carrusel {
  display: flex;
  align-items: center;
}

.carrusel-items {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 30px 0px;
}

.carrusel-item {
  min-width: 300px;
  max-width: 300px;
  outline: 2px solid black;
  cursor: pointer;
}

.carrusel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carrusel-item:hover {
  transform: scale(1.2);
}



@media (min-width: 481px) {
  /* tablet */
}

@media (min-width: 769px) {
  /* notebook */
}

@media (min-width: 1281px) {
  /* computadora */
}
