<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>

  <body>
    <%- include("../partials/headerNavbar") %>
    <main>
      <div>
        <% category.forEach(product => { %> <%-
        include("../partials/product-card", { product }) %> <% }) %>
      </div>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
