<footer class="container-footer">
  <div class="contactos">
    <h3>Contáctanos</h3>
    <p>Teléfono: 123-456-7890</p>
    <p>Email: info@npcgames.com</p>
    <p>Dirección: Calle Falsa 123, Springfield</p>
  </div>
  <div class="redes">
    <h3>Síguenos</h3>
    <ul class="list-redes">
      <li>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </li>
    </ul>
  </div>
  <div class="nosotros">
    <h3>Acerca de nosotros</h3>
    <p>
      Somos una tienda de videojuegos en línea con una gran variedad de juegos para todas las plataformas.
      ¡Visítanos y encuentra el juego perfecto para ti!
    </p>
  </div>
</footer>
