<header class="container-header">
  <div class="container-burger">
    <img
      onclick="document.body.classList.toggle('open')"
      class="burger"
      src="/images/burger.png"
    />
  </div>

  <div class="container-logo">
    <a href="/"><img src="/images/logo.png" class="logo" /></a>
  </div>
  <div class="menu-items">
    <div class="menu-mobile">
      <div class="container-buscador">
        <form action="/product/searchProduct" method="get">
          <span class="icon"><i class="fa fa-search"></i></span>
          <input
            name="search"
            type="search"
            class="input-search"
            placeholder="Busca tu juego..."
          />
        </form>
      </div>
      <div class="menu-left perfil-sinsesion">
        <div class="ingreso">
          <a href="/user/login" class="menu-a">Ingresar</a>
        </div>
        <div class="registro">
          <a href="/user/register" class="menu-a">Registrarse</a>
        </div>
      </div>
      <div class="menu-left perfil-admin">
        <div class="ingreso">
          <a href="/admin" class="menu-a">Menu Admin</a>
        </div>
        <div class="registro">
          <a href="/user/profile" class="menu-a">Mi perfil</a>
        </div>
      </div>
      <div class="menu-left perfil-user">
        <div class="registro">
          <a href="/user/profile" class="menu-a">Mi perfil</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-carrito">
    <span class="badge"></span>
    <a href="/cart"><img src="/images/carrito.png" class="carrito" /></a>
  </div>
</header>
