.none {
  display: none;
}
.cart__container {
  color: var(--blanco);
  margin: 3rem auto;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 0 6px var(--lineas);
}

.article__container {
  /* box-shadow: 0 -4px 6px var(--lineas); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.cart__img {
  width: 80px;
  border-radius: 6px;
  box-shadow: 0 0 6px var(--lineas);
}

.cart__info {
  margin: 6px;
}

.cart__p {
  margin-bottom: 1rem;
}

.cantidad {
  box-shadow: 0 0 4px var(--lineas);
  display: flex;
  justify-content: flex-start;
  border-radius: 6px;
  width: 6rem;
  padding: 4px;
  background-color: #0d2033;
}

.cantidad__number {
  background-color: #fff;
  width: 30px;
  text-align: center;
  color: black;
  border-radius: 6px;
  padding: 4px;
  margin: 0 1rem;
}

.cantidad__button {
  background: none;
  border: none;
  color: #fff;
}

.cart__options {
  width: 100%;
  box-shadow: 0 0 2px var(--lineas);
  padding: 6px;
  margin-bottom: 2rem;
}

.cart__options ul {
  display: flex;
  gap: 20px;
}

.menu__dots {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  margin-right: 1rem;
}

.total__container {
  box-shadow: 0 0 2px var(--lineas);
}

.total {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.total h6 {
  margin-right: 1rem;
}

@media (min-width: 600px) {
  .cart__p {
    margin-bottom: 0;
  }
  .cart__info {
    flex-grow: 0.9;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu__dots {
    display: none;
  }
  .none {
    display: block;
  }
  .total h6 {
    flex-grow: 1;
    display: flex;
    justify-content: end;
  }
}
