.pie-pagina {
  width: 100%;
  background-color: #0d2033;
  margin-top: auto;
}

.pie-pagina .grupo-1 {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.pie-pagina .grupo-1 .box figure img {
  width: 150px;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  text-align: center;
}

.pie-pagina .grupo-1 h2 {
  color: #fff;
  font-size: 1.2em;
  margin: 1rem 0 0.5rem 0;
  text-align: center;
}

.pie-pagina .grupo-1 .box ul a {
  color: #0fd3ff;
  font-size: 0.8em;
}

.pie-pagina .grupo-1 .box ul {
  display: flex;
  gap: 0.5rem;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 5px;
  background-color: #0a141d;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: #0fd3ff;
}

.pie-pagina .grupo-2 {
  background-color: #0d2033;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media (min-width: 600px) {
  .pie-pagina {
    width: 100%;
  }
  .pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .pie-pagina .grupo-1 .box ul {
    flex-direction: column;
  }
  .links {
    display: flex;
    gap: 1rem;
  }

  .redes {
    width: 40%;
    text-align: center;
  }
  .slogan {
    width: 40%;
    text-align: center;
  }
  .pie-pagina .grupo-1 h2 {
    margin-top: 0;
  }

  .pie-pagina .grupo-1 .red-social a {
    font-size: 1em;
  }
}
