.container-footer {
  width: 100%;
  background-color: #222;
  color: #fff;
  padding: 20px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.contactos, .redes, .nosotros {
  width: calc((100%)/3);
  text-align: center;
}

.redes ul li {
  display: inline-block;
  margin-right: 10px;
}

.redes ul li a {
  color: #fff;
  font-size: 24px;
  transition: all 0.2s ease-in-out;
}

.redes ul li a:hover {
  transform: scale(1.5);
}

@media (max-width: 481px) {
  /* tablet */
  .container-footer {
    width: 100%;
    text-align: center;
    align-items: center;
    display: grid;
  }

  .contactos, .redes, .nosotros {
    width: 100%;
    grid-template-columns: 1fr;
  }

}