.container-header{
  display: flex;
  align-items: center;
  height: 120px;
  background: black;
  border: solid #0c6061 3px;
  font-family: "Rubik", sans-serif;
}

.container-burger {
  display: none;
  cursor: pointer;
}

.container-logo{
  width: 20%;
  height: 120px;
  text-align: center;
  padding-top: 20px;
}

.logo{
  width: 80px;
  height: 80px;
}

.menu-items {
  width: 70%;
  display: flex;
}

.container-buscador {
  width: 50%;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding-right: 4px;
}

.buscador{
  width: 80%;
  margin-left: 10%;
  height: 35px;
  padding: 4px 10px;
  color: #c9d1d9;
  font-size: 13px;
  border: 0;
  background: #0c6061;
}

.boton-lupa {
  position: absolute;
  z-index: 5;
  margin-left: 29%;
  height: 35px;
  border: inherit;
  background: transparent;
  color: #8b949e;
}

.menu-left {
  width: 50%;
  display: flex;
}

.ingreso {
  height: 120px;
  line-height: 120px;
  width: 50%;
  text-align: center;
}

.ingreso:hover, .registro:hover, .container-carrito:hover{
  background-color: #0c6061; 
}

.registro {
  height: 120px;
  line-height: 120px;
  width: 50%;
  text-align: center;
}

.menu-a {
  color: white;
  text-decoration: none;
}


.container-carrito {
  width: 10%;
  height: 120px;
  text-align: center;
}

.carrito {
  width: 20px;
  height: 20px;
  color: white;
  margin-top: 50px;
}

@media (max-width: 481px) {
  .container-header {
    display: flex;
    width: 100%;
  }

  .container-burger {
    display: block;
    width: calc((100%)/3);
    text-align: center;
  }

  .burger {
    width: 20px;
    height: 20px;
  }

  .menu-items {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 120px;
    left: 0;
    padding: 20px;
    background: #161b22;
  }

  .menu-left {
    flex-direction: column;
  }

  .menu-left a {
    border-bottom: 2px solid #30363d;
    padding-bottom: 10px;
  }

  .container-logo {
    width: calc((100%)/3);
    text-align: center;
  }

  .container-carrito {
    width: calc((100%)/3);
    text-align: center;
  }

}

@media (max-width: 769px) {
  .boton-lupa {
    position: absolute;
    z-index: 5;
    margin-left: 27%;
    height: 35px;
    border: inherit;
    background: transparent;
    color: #8b949e;
  }
}

body.open .menu-items {
  display: flex;
}