.login {
  min-height: 100vh;
  align-items: center;
}
.login__container {
  max-width: 28rem;
  border: 2px solid #f516cc;
  background-color: #110042;
  box-shadow: 0px 2px 4px #0e0e0e;
  border-radius: 6px;
  text-align: center;
  color: #e0e0e0;
}
.login__title {
  color: #0fd3ff;
  padding: 1rem;
  font-size: 2em;
}
input {
  width: 90%;
  padding: 10px 26px;
  border: none;
  border-radius: 4px;
  margin-bottom: 0.9rem;
}
.button {
  background-color: #f516cc;
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 4px #0e0e0e;
  padding: 10px 26px;
  cursor: pointer;
  color: #e0e0e0;
  font-weight: 600;
}

.input__error {
  color: #ff0000;
}
.invalid {
  border: 2px solid red;
}
