.container-menu-admin {
    width: 90%;
    margin: 3%  5%;
    background-color: #0f7d7e;
    border-radius: 5px;  
}

.container-menu-editar, .container-menu-crear, 
.container-menu-borrar,.container-menu-borrar-id {
    width: 90%;
    margin: 0%  5%;
    background-color: #0f7d7e;
    border-radius: 5px;  
}
  

.botones-accion {
    width: 100%;
    text-align: center;
    justify-content: center;
}

.boton-admin { 
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
    margin: 2% 3% 3% 3%;
}
  
.boton-admin:hover {
    background-color: black;
    color: white;
}

.container-menu-editar, 
.container-menu-crear, .container-menu-borrar,
.container-menu-borrar-id {
    display: none;
}

.contenedor-acciones-admin{
    position: relative;
    width: 100%;
    height: 100%;
}

.superposicion-admin {
    position: absolute;
    top: 0;
}

body.crear .container-menu-crear {
    display: block;
}

body.editar .container-menu-editar {
    display: block;
}

body.buscar .container-menu-borrar-id {
    display: block;
}

body.borrar .container-menu-borrar {
    display: block;
}

  