.show-product-container {
  color: var(--blanco);
  padding: 1rem;
  margin: 3rem auto;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 0 6px var(--lineas);
}
.show-product-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.show-product-text h4 {
  letter-spacing: 1px;
  font-weight: 300;
}

.carrousel-product-img {
  display: flex;
  overflow-x: scroll;
  padding: 24px;
  border-radius: 8px;
  gap: 12px;
}

.carrousel-product-img img {
  width: 100%;
}

.price {
  font-size: 1.8em;
  font-weight: 500;
  margin-top: 1rem;
}

.options-pay .cuotas {
  font-weight: 500;
  font-size: 1em;
}
.options-pay p {
  color: var(--titulos);
}

.envio {
  margin: 1rem 0;
}
.envio p {
  color: #1fcc00;
}
.envio p span {
  font-weight: 600;
}

.description h4 {
  letter-spacing: 1px;
  margin: 1rem;
  text-transform: uppercase;
}

/* .contactForm button {
  padding: 8px 22px;
  width: 100%;
  max-width: 150px;
} */

.buy {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button {
  background-color: var(--lineas);
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 6px var(--lineas);
  color: #ffffff;
  font-size: 1em;
  padding: 10px 25px;
  cursor: pointer;
  margin: 1rem auto;
  width: 100%;
  max-width: 300px;
}

.buy :first-child {
  background: var(--fondo_claro);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select {
  border-radius: 6px;
  border: none;
  width: 3rem;
  background: var(--fondo_claro);
  color: var(--blanco);
  font-size: 1em;
}
