@charset "UTF-8";
/* ====================== Width ====================== */
.vw-100 {
  width: 100vw; }

.w-100 {
  width: 100%; }

.w-90 {
  width: 90%; }

.w-50 {
  width: 50%; }

/* ========================================================== */
/* ====================== Height ====================== */
.vh-100 {
  height: 100vh; }

.h-100 {
  height: 100%; }

/* ========================================================== */
/* ====================== Text (Center, Left, Right) ====================== */
.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

/* ========================================================== */
/* ====================== Flex Container ====================== */
.flex {
  display: flex; }

.justify-content-center {
  justify-content: center; }

.justify-content-sp-ar {
  justify-content: space-around; }

.justify-content-sp-ev {
  justify-content: space-evenly; }

.justify-content-sp-bt {
  justify-content: space-between; }

.justify-content-end {
  justify-content: flex-end; }

.justify-content-start {
  justify-content: flex-start; }

.align-center {
  align-items: center; }

.gorw-1 {
  flex-grow: 1; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-d-column {
  flex-direction: column; }

/* ========================================================== */
/* ====================== Displays ====================== */
.block {
  display: block; }

.inline-block {
  display: inline-block; }

.none {
  display: none; }

/* ========================================================== */
/* ====================== Margins ====================== */
/* ========== General ========== */
.m-1 {
  margin: 1rem;
  /* 1rem = 16 px */ }

.m-2 {
  margin: 2rem; }

.m-3 {
  margin: 3rem; }

.m-4 {
  margin: 4rem; }

.m-5 {
  margin: 5rem; }

/* ========== Top ========== */
.mt-1 {
  margin-top: 1rem;
  /* 1rem = 16 px */ }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-4 {
  margin-top: 4rem; }

.mt-5 {
  margin-top: 5rem; }

.mt-6 {
  margin-top: 6rem; }

/* ========== Right ========== */
.mr-1 {
  margin-right: 1rem;
  /* 1rem = 16 px */ }

.mr-2 {
  margin-right: 2rem; }

.mr-3 {
  margin-right: 3rem; }

.mr-4 {
  margin-right: 4rem; }

.mr-5 {
  margin-right: 5rem; }

.mr-6 {
  margin-right: 6rem; }

/* ========== Bottom ========== */
.mb-1 {
  margin-bottom: 1rem;
  /* 1rem = 16 px */ }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-5 {
  margin-bottom: 5rem; }

.mb-6 {
  margin-bottom: 6rem; }

/* ========== Left ========== */
.ml-1 {
  margin-left: 1rem;
  /* 1rem = 16 px */ }

.ml-2 {
  margin-left: 2rem; }

.ml-3 {
  margin-left: 3rem; }

.ml-4 {
  margin-left: 4rem; }

.ml-5 {
  margin-left: 5rem; }

.ml-6 {
  margin-left: 6rem; }

/* ========================================================== */
/* ====================== Paddings ====================== */
.p-1 {
  padding: 1rem; }

.p-2 {
  padding: 2rem; }

.p-3 {
  padding: 3rem; }

.p-4 {
  padding: 4rem; }

.p-5 {
  padding: 5rem; }

.pt-1 {
  padding-top: 1rem; }

.pt-2 {
  padding-top: 2rem; }

.pt-3 {
  padding-top: 3rem; }

.pt-4 {
  padding-top: 4rem; }

.pt-5 {
  padding-top: 5rem; }

.pr-1 {
  padding-right: 1rem; }

.pr-2 {
  padding-right: 2rem; }

.pr-3 {
  padding-right: 3rem; }

.pr-4 {
  padding-right: 4rem; }

.pr-5 {
  padding-right: 5rem; }

.pb-1 {
  padding-bottom: 1rem; }

.pb-2 {
  padding-bottom: 2rem; }

.pb-3 {
  padding-bottom: 3rem; }

.pb-4 {
  padding-bottom: 4rem; }

.pb-5 {
  padding-bottom: 5rem; }

.pl-1 {
  padding-left: 1rem; }

.pl-2 {
  padding-left: 2rem; }

.pl-3 {
  padding-left: 3rem; }

.pl-4 {
  padding-left: 4rem; }

.pl-5 {
  padding-left: 5rem; }

/* ========================================================== */
/* ====================== box shadow ====================== */
.box-shadow {
  box-shadow: 0px 2px 4px #0e0e0e; }

/* ====================== Border Radius ====================== */
.border-r-5 {
  border-radius: 5px; }

.border-r-6 {
  border-radius: 6px; }

.border-r-10 {
  border-radius: 10px; }

.border-redondo {
  border-radius: 2rem; }

/* ====================== Cursor-pointer ====================== */
.cursor-pointer {
  cursor: pointer; }

.logo {
  display: none; }

nav {
  display: none; }

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 4px #0e0e0e; }

.header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1200px; }

.header__search {
  width: 60%;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 2px 6px;
  display: flex;
  box-shadow: 0 4px 4px #0e0e0e; }

.input__search {
  border: none;
  width: 90%; }

.button__search {
  background: transparent;
  border: none;
  padding: 4px; }

.button__navbar {
  background-color: #ffffff;
  padding: 2px 12px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 4px #0e0e0e; }

.header__button {
  border: none;
  background-color: transparent; }

.banner {
  margin: 1rem auto;
  width: 100%;
  max-width: 1200px; }
  .banner .banner__img {
    width: 100%;
    box-shadow: 0 0 6px #0e0e0e; }

.scroller {
  height: 120px;
  max-width: 1200px;
  padding: 10px;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  column-gap: 1rem;
  overflow-x: auto; }
  .scroller .scroller-item {
    box-shadow: 2px 2px 15px #f516cc;
    position: relative;
    width: 80px;
    height: 80px;
    border: 2px solid #34265e;
    border-radius: 50%;
    overflow: hidden;
    transition: all 500ms ease; }
    .scroller .scroller-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      transition: all 500ms ease; }
      .scroller .scroller-item img:hover {
        transform: scale(1.15);
        transition: all 0.5s; }

.scroller::-webkit-scrollbar {
  display: none; }

.form {
  min-height: 100vh;
  align-items: center; }
  .form .form__container {
    max-width: 28rem;
    border: 2px solid #f516cc;
    background-color: #110042;
    box-shadow: 0px 2px 4px #0e0e0e;
    border-radius: 6px;
    text-align: center;
    color: #e0e0e0; }
    .form .form__container .form__title {
      color: #0fd3ff;
      padding: 1rem;
      font-size: 2em; }
    .form .form__container .form__display {
      align-items: center;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1.5rem; }
      .form .form__container .form__display input {
        width: 90%;
        padding: 10px 26px;
        border: none;
        border-radius: 4px;
        margin-bottom: 0.5rem; }
      .form .form__container .form__display .terms {
        align-items: center;
        margin: 1rem 0; }
        .form .form__container .form__display .terms #terms {
          width: 10%; }
        .form .form__container .form__display .terms label {
          font-size: 0.8em;
          margin-bottom: 0.5rem; }
          .form .form__container .form__display .terms label a {
            color: #0fd3ff; }
      .form .form__container .form__display .form__error {
        color: #ff0000;
        text-decoration: underline;
        display: block;
        /* esto va con un display none y aparecería cuando hay un error en el form */ }
      .form .form__container .form__display .show_password {
        padding: 0.5rem 0;
        justify-content: flex-end; }
        .form .form__container .form__display .show_password p {
          font-size: 0.6em;
          margin-left: 0.5rem; }
      .form .form__container .form__display .form__a {
        font-size: 0.8em;
        margin-bottom: 1.5rem;
        color: #0fd3ff; }
      .form .form__container .form__display strong {
        font-size: 1em;
        margin-top: 2rem;
        font-weight: 600; }
        .form .form__container .form__display strong a {
          font-weight: 500;
          color: #0fd3ff; }
      .form .form__container .form__display .form__or {
        border-bottom: 2px solid #f516cc;
        width: 96%;
        margin: 1.5rem 0; }
      .form .form__container .form__display .button {
        background-color: #f516cc;
        border-radius: 6px;
        border: none;
        box-shadow: 0 2px 4px #0e0e0e;
        padding: 10px 26px;
        cursor: pointer; }
        .form .form__container .form__display .button .form__button {
          background-color: transparent;
          border: none;
          font-size: 1em;
          cursor: pointer; }
          .form .form__container .form__display .button .form__button span {
            color: #e0e0e0;
            font-weight: 600; }
        .form .form__container .form__display .button:hover {
          background-color: #34265e;
          box-shadow: 0 0 6px 6px #f516cc;
          transform: scale(0.9);
          transition: all 400ms; }
      .form .form__container .form__display .form__with {
        background: #e0e0e0; }

.product-f {
  border: 2px solid #f516cc;
  box-shadow: 0px 2px 4px #0e0e0e;
  border-radius: 5px;
  background-color: #110042; }
  .product-f h2 {
    color: #0fd3ff; }
  .product-f .img-s {
    overflow: hidden; }
    .product-f .img-s .arrow-size {
      font-size: 1.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem; }

.stars {
  color: #f516cc; }

.ammount {
  border: 2px solid #f516cc;
  box-shadow: 0px 2px 4px #0e0e0e;
  border-radius: 5px;
  background-color: #110042; }
  .ammount h2 {
    color: #0fd3ff; }
  .ammount .ammount-f {
    border: 2px solid #f516cc;
    box-shadow: 0px 2px 4px #0e0e0e;
    min-width: 5rem;
    max-width: 100%;
    border-radius: 15px;
    background-color: #f516cc; }

.buttom {
  width: 8rem;
  height: 2rem;
  background-color: #f516cc;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px; }
  .buttom button {
    background: none;
    border: 0;
    color: inherit; }
    .buttom button span {
      font-size: 19px; }

.description {
  border: 2px solid #f516cc;
  box-shadow: 0px 2px 4px #0e0e0e;
  border-radius: 5px;
  background-color: #110042; }
  .description h2 {
    color: #0fd3ff;
    margin-left: 5px; }
  .description .text {
    margin-left: 5px;
    color: white; }

.color-label {
  color: white; }

.size-label {
  font-size: 0.8rem; }

.precio {
  border: 2px solid #f516cc;
  box-shadow: 0px 2px 4px #0e0e0e;
  border-radius: 5px;
  background-color: #110042;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem; }
  .precio h2 {
    color: #0fd3ff; }

.main-product {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  padding: 4px; }

.section-product {
  display: flex;
  flex-wrap: wrap;
  padding: 8px; }
  .section-product .title-product {
    width: 100%;
    font-size: 24px; }

.contain-product {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 50px;
  padding: 20px;
  border: 3px solid #9fedd9;
  background-color: #1973B8;
  box-shadow: 0px 2px 10px #FED9C7; }

.product {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 2px 10px #110042; }
  .product .img-product {
    width: 100%;
    padding: 20px; }
  .product .info-product {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px;
    border-top: 1px solid #110042; }
  .product .nom-product {
    width: 100%;
    font-size: 16px;
    color: #026670; }
  .product .ofert-product {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #fce181; }
  .product .precio-product {
    font-size: 20px;
    font-weight: bold;
    color: #0fd3ff; }

.hide {
  display: none; }

.cart__container {
  color: #e0e0e0;
  margin: 3rem auto;
  max-width: 1200px;
  box-shadow: 0 0 6px #f516cc; }
  .cart__container .cart__article .article__container .cart__img {
    width: 80px;
    box-shadow: 0 0 6px #f516cc; }
  .cart__container .cart__article .article__container .cart__info {
    margin: 6px; }
    .cart__container .cart__article .article__container .cart__info .cantidad {
      box-shadow: 0 0 4px #f516cc;
      width: 6rem;
      padding: 4px;
      background-color: #0d2033; }
      .cart__container .cart__article .article__container .cart__info .cantidad .cantidad__button {
        background: none;
        border: none;
        color: #fff; }
      .cart__container .cart__article .article__container .cart__info .cantidad .cantidad__number {
        background-color: #fff;
        width: 30px;
        color: black;
        padding: 4px;
        margin: 0 1rem; }
  .cart__container .cart__article .cart__options {
    box-shadow: 0 0 2px #f516cc;
    padding: 6px; }
    .cart__container .cart__article .cart__options .option__list {
      gap: 20px; }
      .cart__container .cart__article .cart__options .option__list .menu__dots {
        display: flex;
        flex-grow: 1; }
  .cart__container .total__container {
    box-shadow: 0 0 2px #f516cc; }

.article__container :nth-child(3) {
  flex: 0 1 8%; }

@media (min-width: 600px) {
  .cart__p {
    margin-bottom: 0; }
  .cart__info {
    flex-grow: 0.9;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .menu__dots {
    display: none !important; }
  .hide {
    display: block; }
  .total h6 {
    flex-grow: 1;
    display: flex;
    justify-content: end; } }

.crea {
  min-height: 100vh;
  align-items: center; }
  .crea .crea-container {
    max-width: 28rem;
    border: 2px solid #f516cc;
    background-color: #110042;
    box-shadow: 0px 2px 4px #0e0e0e;
    border-radius: 6px;
    text-align: center;
    color: #e0e0e0; }
    .crea .crea-container .crea-display {
      align-items: center;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1.5rem; }
  .crea .crea-title {
    color: #0fd3ff;
    padding: 1rem;
    font-size: 2em; }
  .crea .input-img {
    width: 90%;
    padding: 10px 26px;
    border: none;
    border-radius: 4px;
    margin-bottom: 0.9rem;
    background-color: white;
    color: #413f3f; }
  .crea input {
    width: 90%;
    padding: 10px 26px;
    border: none;
    border-radius: 4px;
    margin-bottom: 0.9rem; }
  .crea .container-button {
    background-color: #f516cc;
    border-radius: 6px;
    border: none;
    box-shadow: 0 2px 4px #0e0e0e;
    padding: 10px 26px;
    cursor: pointer; }
    .crea .container-button .crea-button {
      background-color: transparent;
      border: none;
      font-size: 1em;
      cursor: pointer; }
      .crea .container-button .crea-button span {
        color: #e0e0e0;
        font-weight: 600; }
    .crea .container-button:hover {
      background-color: #34265e;
      box-shadow: 0 0 6px 6px #f516cc;
      transform: scale(0.9);
      transition: all 400ms; }

/*  .footer{
    padding: 30px 0;
    
}
.container-footer{
    max-width: 90%;
    margin: 0 auto;
    padding: 0 15px;
}
.img-footer1{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 20px;
}
.footer .img-footer{
    width: 100%;
    margin: auto;
    align-items: center ;
    border: 3px solid $lineas;

}
.title-footer{
    color: $blanco;
    font-size: 30px;
    
   
}
.info-footer{
    width: 90%;
    margin: 0 auto;
    padding: 0 15px;

  
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col{
    flex: 0 0 33%;
    max-width: 33%;
    text-align: center;


}  */
.pie-pagina {
  width: 100%;
  background-color: #0c8d99;
  margin-top: auto; }

.pie-pagina .grupo-1 {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem; }

.pie-pagina .grupo-1 .box figure img {
  width: 150px; }

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  text-align: center; }

.pie-pagina .grupo-1 h2 {
  color: #fff;
  font-size: 1.2em;
  margin: 1rem 0 0.5rem 0;
  text-align: center; }

.pie-pagina .grupo-1 .box ul a {
  color: #0a141d;
  font-size: 0.8em; }

.pie-pagina .grupo-1 .box ul {
  display: flex;
  gap: 0.5rem; }

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 5px;
  background-color: #0c8d99;
  text-align: center;
  transition: all 300ms ease; }

.pie-pagina .grupo-1 .red-social a:hover {
  color: #0fd3ff; }

.pie-pagina .grupo-2 {
  background-color: #0c8d99;
  padding: 15px 10px;
  text-align: center;
  color: #fff; }

.pie-pagina .grupo-2 small {
  font-size: 15px; }

@media (min-width: 600px) {
  .pie-pagina {
    width: 100%; }
  .pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .pie-pagina .grupo-1 .box ul,
  a {
    flex-direction: column; }
  .redes {
    width: 40%;
    text-align: center; }
  .slogan {
    width: 40%;
    text-align: center; }
  .pie-pagina .grupo-1 h2 {
    margin-top: 0; }
  .links {
    display: flex;
    gap: 1rem; }
  .pie-pagina .grupo-1 .red-social a {
    font-size: 1em; } }

body {
  font-family: "Poppins", sans-serif;
  background: #EDEAE5; }

.bg_animado {
  padding: 1rem;
  color: #fff;
  background-color: #026670;
  background-size: 400% 400%;
  position: relative;
  animation: cambiar 10s ease-in-out infinite; }

/*@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}*/
@media (min-width: 600px) {
  .logo {
    display: block;
    width: 120px;
    border-radius: 6px;
    box-shadow: 0 4px 4px #0e0e0e; }
  header {
    flex-wrap: wrap; }
  .header__container {
    justify-content: space-between; }
  nav {
    display: block;
    width: 100%; }
  .burguer-menu {
    display: none; }
  .header__search {
    width: 60%;
    justify-content: space-between; }
  .listas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem; }
  li {
    list-style: none; }
  a {
    color: #e0e0e0;
    text-transform: uppercase;
    text-decoration: none; }
  .img-product {
    width: 48%; }
  /* Product */
  .opciones {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 2px solid #f516cc;
    box-shadow: 0px 2px 4px #0e0e0e;
    border-radius: 5px;
    background-color: #110042; }
    .opciones .categoria {
      flex-direction: column;
      color: #0fd3ff;
      text-align: center; }
    .opciones .buttom {
      margin-top: 0;
      margin-bottom: 1rem; }
    .opciones .ammount {
      margin-bottom: 1rem; }
    .opciones .categoria {
      display: flex;
      justify-content: space-around;
      border: 2px solid #f516cc;
      box-shadow: 0px 2px 4px #0e0e0e;
      margin: 1rem;
      border-radius: 5px;
      background-color: #110042; }
      .opciones .categoria .option-1 {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center; }
      .opciones .categoria .option-2 {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center; }
      .opciones .categoria .option-3 {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center; }
  .product {
    width: 25%; }
  .product2 {
    width: 25%; } }

@media (min-width: 768px) {
  /* Product */
  .container {
    display: flex; }
    .container .product-f .images {
      display: flex;
      justify-content: space-around;
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 0.5rem;
      border: 3px solid #f516cc; }
      .container .product-f .images .img {
        transition: 0.4s; }
      .container .product-f .images .img:hover {
        transform: scale(1.2); }
    .container .product-f .img-product-product {
      transition: 0.5s;
      object-fit: cover; }
    .container .product-f .img-product-product:hover {
      transform: scale(1.2); }
    .container .container-dos {
      display: flex;
      flex-direction: column;
      margin-top: 3rem;
      padding-right: 1rem; }
      .container .container-dos .ammount {
        margin-top: 0; }
      .container .container-dos .opciones {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0;
        height: 100%; }
        .container .container-dos .opciones .categoria {
          flex-direction: column;
          color: #0fd3ff;
          text-align: center; }
        .container .container-dos .opciones .resta-suma {
          transition: 0.5s; }
        .container .container-dos .opciones .resta-suma:hover {
          transform: scale(1.1); }
        .container .container-dos .opciones .buttom {
          margin-top: 0;
          margin-top: 1rem;
          transition: 1s; }
        .container .container-dos .opciones .buttom:hover {
          box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px; }
        .container .container-dos .opciones .envio {
          display: flex;
          flex-direction: column;
          margin-top: 0;
          margin-left: 1rem;
          margin-right: 1rem;
          border: 2px solid #f516cc;
          box-shadow: 0px 2px 4px #0e0e0e;
          border-radius: 5px; }
          .container .container-dos .opciones .envio h2 {
            color: #0fd3ff;
            text-align: center; }
          .container .container-dos .opciones .envio .cp {
            display: flex;
            flex-direction: column;
            padding: 1rem; }
            .container .container-dos .opciones .envio .cp input {
              border: white solid 2px;
              border-radius: 5px;
              padding-top: 3px;
              padding-bottom: 3px;
              transition: 0.7s;
              outline: none; }
            .container .container-dos .opciones .envio .cp input:focus {
              border-color: #f516cc; }
            .container .container-dos .opciones .envio .cp h3 {
              color: white;
              margin-bottom: 5px; }
      .container .container-dos .description {
        margin: 0;
        margin-top: 1rem; }
  .img-product {
    width: 23%; }
  .col {
    flex: 0 0 100%;
    max-width: 100%; }
  .container-selec {
    width: 23%; }
  .product {
    width: 23%; }
  .product2 {
    width: 23%; }
  .product:hover .info-product {
    display: block; } }

@media (min-width: 900px) {
  nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px; }
  .input__search {
    width: 95%; }
  li {
    margin-right: 1rem; }
  .scroller {
    height: 300px; }
    .scroller .scroller-item {
      width: 180px;
      height: 180px; }
  .col {
    flex: 0 0 50%;
    max-width: 50%; } }

@media (min-width: 1280px) {
  /* Pendiente en product */
  .full-container {
    display: flex;
    height: 100%; }
    .full-container .images {
      height: 95%;
      width: 20%;
      align-items: center;
      flex-direction: column; }
      .full-container .images .img {
        width: 70%; } }
