@charset "UTF-8";
body {
  font-family: "Poppins", sans-serif; }

/* ====================== Width ====================== */
.vw-100 {
  width: 100vw; }

.w-100 {
  width: 100%; }

.w-90 {
  width: 90%; }

.w-50 {
  width: 50%; }

/* ========================================================== */
/* ====================== Height ====================== */
.vh-100 {
  height: 100vh; }

/* ========================================================== */
/* ====================== Text (Center, Left, Right) ====================== */
.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

/* ========================================================== */
/* ====================== Flex Container ====================== */
.flex {
  display: flex; }

.justify-content-center {
  justify-content: center; }

.justify-content-sp-ar {
  justify-content: space-around; }

.justify-content-sp-ev {
  justify-content: space-evenly; }

.justify-content-end {
  justify-content: flex-end; }

.align-center {
  align-items: center; }

.gorw-1 {
  flex-grow: 1; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-d-column {
  flex-direction: column; }

/* ========================================================== */
/* ====================== Displays ====================== */
.block {
  display: block; }

.inline-block {
  display: inline-block; }

.none {
  display: none; }

/* ========================================================== */
/* ====================== Margins ====================== */
/* ========== General ========== */
.m-1 {
  margin: 1rem;
  /* 1rem = 16 px */ }

.m-2 {
  margin: 2rem; }

.m-3 {
  margin: 3rem; }

.m-4 {
  margin: 4rem; }

.m-5 {
  margin: 5rem; }

/* ========== Top ========== */
.mt-1 {
  margin-top: 1rem;
  /* 1rem = 16 px */ }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-4 {
  margin-top: 4rem; }

.mt-5 {
  margin-top: 5rem; }

.mt-6 {
  margin-top: 6rem; }

/* ========== Right ========== */
.mr-1 {
  margin-right: 1rem;
  /* 1rem = 16 px */ }

.mr-2 {
  margin-right: 2rem; }

.mr-3 {
  margin-right: 3rem; }

.mr-4 {
  margin-right: 4rem; }

.mr-5 {
  margin-right: 5rem; }

.mr-6 {
  margin-right: 6rem; }

/* ========== Bottom ========== */
.mb-1 {
  margin-bottom: 1rem;
  /* 1rem = 16 px */ }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-5 {
  margin-bottom: 5rem; }

.mb-6 {
  margin-bottom: 6rem; }

/* ========== Left ========== */
.ml-1 {
  margin-left: 1rem;
  /* 1rem = 16 px */ }

.ml-2 {
  margin-left: 2rem; }

.ml-3 {
  margin-left: 3rem; }

.ml-4 {
  margin-left: 4rem; }

.ml-5 {
  margin-left: 5rem; }

.ml-6 {
  margin-left: 6rem; }

/* ========================================================== */
/* ====================== Paddings ====================== */
.p-1 {
  padding: 1rem; }

.p-2 {
  padding: 2rem; }

.p-3 {
  padding: 3rem; }

.p-4 {
  padding: 4rem; }

.p-5 {
  padding: 5rem; }

.pt-1 {
  padding-top: 1rem; }

.pt-2 {
  padding-top: 2rem; }

.pt-3 {
  padding-top: 3rem; }

.pt-4 {
  padding-top: 4rem; }

.pt-5 {
  padding-top: 5rem; }

.pr-1 {
  padding-right: 1rem; }

.pr-2 {
  padding-right: 2rem; }

.pr-3 {
  padding-right: 3rem; }

.pr-4 {
  padding-right: 4rem; }

.pr-5 {
  padding-right: 5rem; }

.pb-1 {
  padding-bottom: 1rem; }

.pb-2 {
  padding-bottom: 2rem; }

.pb-3 {
  padding-bottom: 3rem; }

.pb-4 {
  padding-bottom: 4rem; }

.pb-5 {
  padding-bottom: 5rem; }

.pl-1 {
  padding-left: 1rem; }

.pl-2 {
  padding-left: 2rem; }

.pl-3 {
  padding-left: 3rem; }

.pl-4 {
  padding-left: 4rem; }

.pl-5 {
  padding-left: 5rem; }

/* ========================================================== */
/* ====================== box shadow ====================== */
.box-shadow {
  box-shadow: 0px 2px 4px #0e0e0e; }

/* ====================== Border Radius ====================== */
.border-r-5 {
  border-radius: 5px; }

.border-r-10 {
  border-radius: 10px; }

.border-redondo {
  border-radius: 2rem; }

/* ====================== Cursor-pointer ====================== */
.cursor-pointer {
  cursor: pointer; }

.logo {
  display: none; }

nav {
  display: none; }

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 4px #0e0e0e; }

.header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1200px; }

.header__search {
  width: 60%;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 2px 6px;
  display: flex;
  box-shadow: 0 4px 4px #0e0e0e; }

.input__search {
  border: none;
  width: 90%; }

.button__search {
  background: transparent;
  border: none;
  padding: 4px; }

.button__navbar {
  background-color: #ffffff;
  padding: 2px 12px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 4px #0e0e0e; }

.header__button {
  border: none;
  background-color: transparent; }

.banner {
  margin: 1rem auto;
  width: 100%;
  max-width: 1200px; }
  .banner .banner__img {
    width: 100%;
    box-shadow: 0 0 6px #0e0e0e; }

.scroller {
  height: 120px;
  max-width: 1200px;
  padding: 10px;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  column-gap: 1rem;
  overflow-x: auto; }
  .scroller .scroller-item {
    box-shadow: 2px 2px 15px #f516cc;
    position: relative;
    width: 80px;
    height: 80px;
    border: 2px solid #34265e;
    border-radius: 50%;
    overflow: hidden;
    transition: all 500ms ease; }
    .scroller .scroller-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      transition: all 500ms ease; }
      .scroller .scroller-item img:hover {
        transform: scale(1.15);
        transition: all 0.5s; }

.scroller::-webkit-scrollbar {
  display: none; }

.form {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .form .form__container {
    width: 90%;
    max-width: 28rem;
    border: 2px solid #f516cc;
    background-color: #110042;
    box-shadow: 0px 2px 4px #0e0e0e;
    border-radius: 6px;
    text-align: center;
    color: #e0e0e0; }
    .form .form__container .form__title {
      color: #0fd3ff;
      padding: 1rem;
      font-size: 2em; }
    .form .form__container .form__display {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1.5rem; }
      .form .form__container .form__display input {
        width: 90%;
        padding: 10px 26px;
        border: none;
        border-radius: 4px;
        margin-bottom: 0.5rem; }
      .form .form__container .form__display .terms {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0; }
        .form .form__container .form__display .terms #terms {
          width: 10%; }
        .form .form__container .form__display .terms label {
          font-size: 0.8em;
          margin-bottom: 0.5rem; }
          .form .form__container .form__display .terms label a {
            color: #0fd3ff; }
      .form .form__container .form__display .form__error {
        color: #ff0000;
        text-decoration: underline;
        display: block;
        /* esto va con un display none y aparecería cuando hay un error en el form */ }
      .form .form__container .form__display .show_password {
        width: 90%;
        padding: 0.5rem 0;
        display: flex;
        justify-content: flex-end; }
        .form .form__container .form__display .show_password p {
          font-size: 0.6em;
          margin-left: 0.5rem; }
      .form .form__container .form__display .form__a {
        font-size: 0.8em;
        margin-bottom: 1.5rem;
        color: #0fd3ff; }
      .form .form__container .form__display strong {
        font-size: 1em;
        margin-top: 2rem;
        font-weight: 600; }
        .form .form__container .form__display strong a {
          font-weight: 500;
          color: #0fd3ff; }
      .form .form__container .form__display .form__or {
        border-bottom: 2px solid #f516cc;
        width: 96%;
        margin: 1.5rem 0; }
      .form .form__container .form__display .button {
        width: 90%;
        background-color: #f516cc;
        border-radius: 6px;
        border: none;
        box-shadow: 0 2px 4px #0e0e0e;
        padding: 10px 26px;
        cursor: pointer; }
        .form .form__container .form__display .button .form__button {
          width: 90%;
          background-color: transparent;
          border: none;
          font-size: 1em;
          cursor: pointer; }
          .form .form__container .form__display .button .form__button span {
            color: #e0e0e0;
            font-weight: 600; }
        .form .form__container .form__display .button:hover {
          background-color: #34265e;
          box-shadow: 0 0 6px 6px #f516cc;
          transform: scale(0.9);
          transition: all 400ms; }
      .form .form__container .form__display .form__with {
        background: #e0e0e0; }

.product-f {
  border: 2px solid #f516cc;
  box-shadow: 0px 2px 4px #0e0e0e;
  border-radius: 5px;
  background-color: #110042; }
  .product-f h2 {
    color: #0fd3ff; }
  .product-f .img-s {
    overflow: hidden; }
    .product-f .img-s .arrow-size {
      font-size: 1.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem; }

.stars {
  color: #f516cc; }

.ammount {
  border: 2px solid #f516cc;
  box-shadow: 0px 2px 4px #0e0e0e;
  border-radius: 5px;
  background-color: #110042; }
  .ammount h2 {
    color: #0fd3ff; }
  .ammount .ammount-f {
    border: 2px solid #f516cc;
    box-shadow: 0px 2px 4px #0e0e0e;
    min-width: 5rem;
    max-width: 100%;
    border-radius: 15px;
    background-color: #f516cc; }

.buttom {
  width: 8rem;
  height: 2rem;
  background-color: #f516cc;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px; }
  .buttom button {
    background: none;
    border: 0;
    color: inherit; }
    .buttom button span {
      font-size: 19px; }

.description {
  border: 2px solid #f516cc;
  box-shadow: 0px 2px 4px #0e0e0e;
  border-radius: 5px;
  background-color: #110042; }
  .description h2 {
    color: #0fd3ff;
    margin-left: 5px; }
  .description .text {
    margin-left: 5px;
    color: white; }

.color-label {
  color: white; }

.product {
  background: #110042;
  padding: 3rem;
  border: 4px solid #f516cc; }
  .product .img {
    width: 25px; }

.product-shadow {
  box-shadow: 0 4px 4px #0e0e0e; }

.description-section {
  border: 3px solid #f516cc;
  border-radius: 5px;
  background-color: #f516cc;
  align-items: center; }
  .description-section h2 {
    color: #0fd3ff;
    margin-left: 5px;
    text-align: center; }
  .description-section .text {
    margin-left: 5px; }

.my-1 {
  margin-top: 10px;
  margin-bottom: 10px; }

.truck-icon {
  color: #f516cc;
  border: #f516cc solid 1px;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  right: 15px;
  top: -15px; }

.relative {
  position: relative; }

.color-white {
  color: #e0e0e0; }

.lg-w-25 {
  width: 48%; }

.justify {
  justify-content: space-around; }

.footer {
  display: flex; }

.img-footer1 {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 20px; }

.footer .img-footer {
  width: 100%;
  margin: auto;
  align-items: center;
  border: 3px solid #f516cc;
  background-color: #110042; }

.info-footer {
  display: inline-block;
  float: right; }

.bg_animado {
  padding: 1rem;
  color: #fff;
  background: linear-gradient(45deg, #602dac, #3723b8, #2973da, #030724);
  background-size: 400% 400%;
  position: relative;
  animation: cambiar 10s ease-in-out infinite; }

@keyframes cambiar {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }

@media (min-width: 600px) {
  .logo {
    display: block;
    width: 120px;
    border-radius: 6px;
    box-shadow: 0 4px 4px #0e0e0e; }
  header {
    flex-wrap: wrap; }
  .header__container {
    justify-content: space-between; }
  nav {
    display: block;
    width: 100%; }
  .burguer-menu {
    display: none; }
  .header__search {
    width: 60%;
    justify-content: space-between; }
  .listas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem; }
  li {
    list-style: none; }
  a {
    color: #e0e0e0;
    text-transform: uppercase;
    text-decoration: none; }
  /* Product */
  .opciones {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 2px solid #f516cc;
    box-shadow: 0px 2px 4px #0e0e0e;
    border-radius: 5px;
    background-color: #110042; }
    .opciones .ammount {
      margin-bottom: 1rem; }
    .opciones .categoria {
      display: flex;
      justify-content: space-around;
      border: 2px solid #f516cc;
      box-shadow: 0px 2px 4px #0e0e0e;
      margin: 1rem;
      border-radius: 5px;
      background-color: #110042; }
      .opciones .categoria .option-1 {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center; }
      .opciones .categoria .option-2 {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center; }
      .opciones .categoria .option-3 {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center; } }

@media (min-width: 768px) {
  /* Product */
  .container {
    display: flex; }
    .container .product-f .images {
      display: flex;
      justify-content: space-around;
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 0.5rem;
      border: 3px solid #f516cc; }
      .container .product-f .images .img {
        transition: 0.4s; }
      .container .product-f .images .img:hover {
        transform: scale(1.2); }
    .container .product-f .img-product {
      transition: 0.5s;
      object-fit: cover; }
    .container .product-f .img-product:hover {
      transform: scale(1.2); }
    .container .container-dos {
      display: flex;
      flex-direction: column;
      margin-top: 3rem;
      padding-right: 1rem; }
      .container .container-dos .ammount {
        margin-top: 0rem; }
      .container .container-dos .opciones {
        margin: 0; }
      .container .container-dos .description {
        margin: 0;
        margin-top: 1rem; } }

@media (min-width: 900px) {
  nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px; }
  .input__search {
    width: 95%; }
  li {
    margin-right: 1rem; }
  .scroller {
    height: 300px; }
    .scroller .scroller-item {
      width: 180px;
      height: 180px; } }

@media (min-width: 1280px) {
  /* Pendiente en product */ }
