@import url("header.css");
@import url("footer.css");
@import url("form.css");

:root {
  --darkblue: #0c6061;
  --lightBlue: #0f7d7e;
  --white: #fffdd1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #0c6061;
  color: #fffdd1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.box-shadow {
  box-shadow: 0 2px 4px #222;
}

.d-none {
  display: none;
}

.color {
  background-color: red;
}

.maxw {
  max-width: 100%;
}

.text-align-c {
  text-align: center;
}

.text-align-r {
  text-align: right;
}

.text-align-l {
  text-align: left;
}

.flex {
  display: flex;
}

.align-items-c {
  align-items: center;
}

.flex-direccion-c {
  flex-direction: column;
}

/* Margin */
.margin-1 {
  margin: 1rem;
}

.margin-b {
  margin-bottom: 0.5rem;
}

.margin-b-1 {
  margin-bottom: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

/* Padding */
.padding-1 {
  padding: 1rem;
}

.list-none {
  list-style: none;
}

.justify-c {
  justify-content: space-between;
}

.justify-c-c {
  justify-content: center;
}

.justify-c-e {
  justify-content: space-evenly;
}

.gap {
  gap: 10px;
}

.bor-1 {
  border-radius: 4px;
}

.bor-10 {
  border-radius: 20px;
}

.card {
  background-color: #404467;
  flex-direction: column;
  text-align: center;
}

.w-22 {
  width: 22.5%;
}

.margin-t {
  margin-top: 2rem;
}

.category i {
  font-size: 2rem;
  margin: 1rem;
  color: white;
}

.category h5 {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: white;
}

.scroll {
  border-radius: 30px;
}

.image {
  border-radius: 10px;
}

.w-90 {
  width: 90%;
}

.f-size-1 {
  font-size: 1rem;
}

.images-product {
  background-color: #0c6061;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.category_container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 150px;
  height: 150px;
  margin: 10px;
  background-color: #ccc;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-4 {
  width: 33.33333%;
  padding: 0 15px;
  box-sizing: border-box;
}

/*========== INDEX ===========*/

.container-section {
  background-color: #0f7d7e;
  width: 94%;
  margin: 3%;
}

.texto-h2 {
  font-size: 18px;
}

.container-juego {
  width: 94%;
  margin: 3%;
  text-align: center;
  position: relative;
}

.imagen-año {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  position: relative;
  z-index: 0;
}

.titulo-año {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fffdd1;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  bottom: 5%;
  font-size: 20px;
}

article i,
h5 {
  filter: drop-shadow(8px 8px 4px #222);
}

@media (min-width: 481px) {
  /* tablet */
}

@media (min-width: 769px) {
  /* notebook */
}

@media (min-width: 1281px) {
  /* computadora */
}
