<footer class="pie-pagina">
  <div class="grupo-1">
    <div class="box">
      <figure>
        <a href="#">
          <img
            src="./imgs/posible_logo/logo-marketPlace.ico"
            alt="Logo Market Place"
          />
        </a>
      </figure>
    </div>
    <div class="box redes">
      <h2>SIGUENOS</h2>
      <div class="red-social">
        <a href="#" class="fa-brands fa-facebook"></a>
        <a href="#" class="fa-brands fa-instagram"></a>
        <a href="#" class="fa-brands fa-twitter"></a>
        <a href="#" class="fa-brands fa-whatsapp"></a>
      </div>
    </div>
    <div class="box slogan">
      <h2>NOSOTROS</h2>
      <p>
        “Somos el lugar donde comprar y vender no es un problema, es una
        solución”.
      </p>
    </div>

    <div class="links">
      <h2>Acerca de</h2>
      <div class="box">
        <ul>
          <li><a href="#">Link del footer</a></li>
          <li><a href="#">Link del footer</a></li>
          <li><a href="#">Link del footer</a></li>
          <li><a href="#">Link del footer</a></li>
          <li><a href="#">Link del footer</a></li>
          <li><a href="#">Link del footer</a></li>
        </ul>
      </div>
      <h2>Ayuda</h2>
      <div class="box">
        <ul>
          <li><a href="#">Link del footer</a></li>
          <li><a href="#">Link del footer</a></li>
          <li><a href="#">Link del footer</a></li>
          <li><a href="#">Link del footer</a></li>
          <li><a href="#">Link del footer</a></li>
          <li><a href="#">Link del footer</a></li>
        </ul>
      </div>
      <h2>Mi cuenta</h2>
      <div class="box">
        <ul>
          <li><a href="#">Link del footer</a></li>
          <li><a href="#">Link del footer</a></li>
          <li><a href="#">Link del footer</a></li>
          <li><a href="#">Link del footer</a></li>
          <li><a href="#">Link del footer</a></li>
          <li><a href="#">Link del footer</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="grupo-2">
    <small
      >&copy; 2022 <strong>Market Place</strong> - Todos los Derechos Reservados
    </small>
  </div>
</footer>
