<header>
  <nav class="container-header padding-1">
    <div class="c-logo text-align-c">
      <a href="/"><img src="/images/logo.png" alt="logo" class="logo-header"></a>
    </div>
    <div class="c-search text-align-c">
      <form action="/product/searchProduct" method="get">
        <input type="search" placeholder="Busca tu Archivo" class="buscador" />
      </form>
    </div>
    <div class="c-login text-align-c">
      <a href="/user/login">Ingresar</a>
    </div>
    <div class="c-register text-align-c">
      <a href="/user/register">Registrarte</a>
    </div>
  </nav>
</header>
