<header class="bg_animado">
  <div class="header__container">
    <a href="/"
      ><img
        class="logo"
        src="/imgs/posible_logo/logo.png"
        alt="logo MarketPlace"
    /></a>
    <div class="burguer-menu button__navbar">
      <button class="menu header__button">
        <i class="fa-solid fa-bars menu__bars"></i>
      </button>
    </div>
    <div class="header__search">
      <input
        class="input__search"
        type="search"
        placeholder="Buscar en Market Place"
      />
      <button class="button__search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
    <div class="carrito button__navbar">
      <a href="/carrito">
        <button class="header__button cursor-pointer">
          <i class="fa-solid fa-cart-shopping"></i>
        </button>
      </a>
    </div>
  </div>
  <nav>
    <ul class="categorias listas">
      <li><a href="product">categoría</a></li>
      <li><a href="#">categoría</a></li>
      <li><a href="#">categoría</a></li>
      <li><a href="#">categoría</a></li>
      <li><a href="#">categoría</a></li>
      <li><a href="#">categoría</a></li>
    </ul>
    <ul class="usuario listas">
      <li><a href="/register">Crear cuenta</a></li>
      <li><a href="/login">Ingresar</a></li>
      <li><a href="#">usuario</a></li>
    </ul>
  </nav>
</header>
