<header class="container-header">
  <nav>
    <ul class="flex justify-c margin-1 list-none">
      <li><a href="/">Logo</a></li>
      <input type="text" />
      <div class="flex list-none gap">
        <li><a href="/user/login">Ingresar</a></li>
        <li><a href="/user/register">Registrarte</a></li>
      </div>
    </ul>
  </nav>
</header>
