<header class="bg_animado">
  <div class="header__container">
    <a href="/">
      <img
        class="logo"
        src="/imgs/posible_logo/logo.png"
        alt="logo MarketPlace"
      />
    </a>
    <div class="burguer-menu button__navbar menu__bars">
      <button class="menu header__button">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
    <div class="header__search">
      <input
        class="input__search"
        type="search"
        placeholder="Buscar en Market Place"
      />
      <button class="button__search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
    <a href="/products/cart">
      <div class="carrito button__navbar">
        <button class="header__button">
          <i class="fa-solid fa-cart-shopping"></i>
        </button>
      </div>
    </a>
  </div>
  <nav>
    <ul class="categorias listas">
      <li class="toggle__botton">
        <a href="#" class="underline">categorías</a>
        <ul class="toggle">
          <li class="toggle__li">
            <a href="/products/category/laptops" class="toggle__a">Laptops</a>
          </li>
          <li class="toggle__li">
            <a href="/products/category/celulares" class="toggle__a"
              >Celulares</a
            >
          </li>
          <li class="toggle__li">
            <a href="/products/category/audio" class="toggle__a">Audio</a>
          </li>
          <li class="toggle__li">
            <a href="/products/category/gaming" class="toggle__a">Gaming</a>
          </li>
          <li class="toggle__li">
            <a href="/products/category/electro" class="toggle__a">Electro</a>
          </li>
          <li class="toggle__li">
            <a href="/products/category/deporte" class="toggle__a">Deporte</a>
          </li>
        </ul>
      </li>
      <li><a href="#" class="underline">ofertas</a></li>
      <li><a href="#" class="underline">historial</a></li>
      <li class="toggle__botton">
        <a href="#" class="underline">vender</a>
        <ul class="toggle">
          <li class="toggle__li">
            <a href="/products/create" class="toggle__a">vender producto</a>
          </li>
          <li class="toggle__li">
            <a href="/products/myProducts" class="toggle__a">editar producto</a>
          </li>
        </ul>
      </li>
      <li><a href="#" class="underline">ayuda</a></li>
    </ul>
    <ul class="usuario listas">
      <li class="toggle__botton">
        <a href="#" class="underline">Mi cuenta</a>
        <ul class="toggle">
          <li class="toggle__li">
            <a href="/user/login" class="toggle__a">Login</a>
          </li>
          <li class="toggle__li">
            <a href="/user/register" class="toggle__a">Create Account</a>
          </li>
        </ul>
      </li>
      <li><a href="#" class="underline">mis likes</a></li>
      <li><a href="#" class="underline">mis compras</a></li>
    </ul>
  </nav>
</header>
