<header class="container-header">
  <div class="container-burger">
    <img
      onclick="document.body.classList.toggle('open')"
      class="burger"
      src="/images/burger.png"
    />
  </div>

  <div class="container-logo">
    <a href="/"></a><img src="/images/logo.png" class="logo" />
  </div>
  <div class="menu-items">
    <div class="menu-mobile">
      <div class="container-buscador">
        <span class="icon"><i class="fa fa-search"></i></span>
        <input type="search" class="input-search" placeholder="Busca tu juego..." />
      </div>
      <div class="menu-left">
        <div class="ingreso"><a href="../login.ejs" class="menu-a">Ingresar</a></div>
        <div class="registro"><a href="../register.ejs" class="menu-a">Registrarse</a></div>
      </div>
    </div>
  </div>
  <div class="container-carrito">
    <span class="badge"></span>
    <a href="#"></a><img src="/images/carrito.png" class="carrito" />
  </div>
</header>
