<div class="items">
  <a href="/products/<%= product.id %>">
    <img src="/imgs/productos-img/<%= product.image %>" alt="" />
    <div class="text_container">
      <div class="title__container">
        <h4 class="product__title"><%= product.name %></h4>
        <!-- <p class="product__description">Serie 50148221</p> -->
      </div>
      <p class="product__price">$<%= product.price %></p>
      <p class="product__send">Tipo de envío</p>
    </div>
  </a>
</div>
