<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    <main class="container-formulario">
      <form
        method="post"
        action="/user/loged"
        enctype="application/x-www-form-urlencoded"
        class="formulario"
        id="formulario"
      >
        <h1 class="text-align-c formulario__h1">Iniciar Sesion</h1>
        <% if (locals.errors) { %>
        <div class="error__case flex">
          <ul>
            <% errors.forEach(error => { %>

            <li class="formulario__input-error-back">
              <i class="fa-solid fa-triangle-exclamation"></i> <%= error.msg %>
            </li>

            <% }) %>
          </ul>
        </div>
        <% } %>
        <div class="formulario-grupo-login" id="grupo__nombre">
          <label for="usuario" class="formulario__label">Email</label>
          <div class="formulario__grupo-input">
            <input
              type="email"
              class="formulario-input-login"
              name="emailLogin"
              placeholder="Ingresa tu email..."
            />
          </div>
        </div>
        <div class="formulario-grupo-login" id="grupo__password">
          <label for="password2" class="formulario__label">Contraseña</label>
          <div class="formulario__grupo-input">
            <input
              type="password"
              class="formulario-input-login"
              name="passwordLogin"
              placeholder="Ingresa tu contraseña..."
            />
            <i class="formulario__validacion-estado fas fa-times-circle"></i>
          </div>
        </div>
        <div class="contenedor-recordarme">
          <input type="checkbox" name="recordame" />
          <label for="recordame">Recordame</label>
        </div>
        <div class="formulario__grupo formulario__grupo-btn-enviar">
          <button
            type="submit"
            class="formulario__btn"
            name="submit"
            id="submit"
          >
            Iniciar Sesion
          </button>
          <p class="text-align-c margin-b-1">Olvidaste tu contraseña?</p>
          <div class="flex w-100 justify-c-c ">
            <button class="box-shadow formulario__btn">
              <i class="fa-brands fa-google"></i> Ingresa con Google
            </button>
            <button class="box-shadow formulario__btn margin-l">
              <i class="fa-brands fa-apple"></i> Ingresa con Apple
            </button>
          </div>
        </div>
      </form>
      <div class="text-align-c">
        <p class="text-align-c margin-b-1">No estas registrado? Ingresa aqui!</p>
          <a href="/user/register" class="box-shadow w-100 margin-l text-align-c margin-b-1"><button
            type="submit"
            class="formulario__btn text-align-c"
            name="submit"
            id="submit"
          >
            Registrarme
          </button></a>
      </div>
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
