<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>

  <body>
    <%- include("../partials/headerNavbar") %>

    <main class="container-main">
      <section class="login">
        <div class="login__container">
          <h3 class="login__title">Login</h3>
          <form action="" class="login__form">
            <input
              placeholder="user name"
              type="text"
              required
              maxlength="16"
              id="user_name"
              name="user__name"
            />
            <input
              placeholder="password"
              type="password"
              required
              maxlength="16"
              id="password"
              name="password"
            />
            <span class="login__error"
              >Nombre de usuario o contraseña inválido</span
            >
            <div class="show_password">
              <i class="fa-solid fa-eye"></i>
              <!-- esto va con un display none para que no aparezca hasta que el usuario haga click, y cuando ocurra el evento se va a mostrar la contraseña  -->
              <i class="fa-solid fa-eye-slash"></i>
              <p>Mostrar contraseña</p>
            </div>
            <a href="#" class="login__a">¿Olvidaste tu contraseña? </a>
            <button class="button login__button" id="login__button">
              <span>Ingresar</span>
            </button>
            <div>
              <span class="login__or">o</span>
            </div>
            <button class="button login__with login__button login__google">
              <i class="fa-brands fa-google"></i> Ingresa con Google
            </button>
            <button class="button login__with login__button login__apple">
              <i class="fa-brands fa-apple"></i> Ingresa con apple
            </button>
          </form>
        </div>
      </section>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
